$font-stack:                "Open Sans", Helvetica, Arial, sans-serif;
$bg-color:                  #fff;
$text-color:                #071108;
$brand-color:               #071108;
$accent-color:              #16a085;
$grey-dark-color:           #666;
$grey-light-color:          #f1f1f1;
